<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false" scan="true" scanPeriod = "30seconds">
    <!--文件内容是否追加-->
    <property name="append" value="false"/>
    <!--输出的文件路径-->
    <property name="filePath" value="logs/"/>
    <!--输出的文件名-->
    <property name="fileName" value="app"/>
    <!--输出的文件的大小-->
    <property name="maxFileSize" value="250MB"/>
    <!--最大历史数，保留30天的记录-->
    <property name="maxHistory" value="30"/>
    <!--总大小上限为 3GB-->
    <property name="totalSizeCap" value="3GB"/>

    <appender name="ConsoleTRACE"
              class="ch.qos.logback.core.ConsoleAppender"
              withJansi="false">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %white(%5level) %magenta(%-4r) --- [%15t] %cyan(%-40c) :%blue(%replace( [%marker]){' \[\]',''}) %m%n%ex{full}</pattern>
        </encoder>
    </appender>
    <appender name="ConsoleDEBUG"
              class="ch.qos.logback.core.ConsoleAppender"
              withJansi="false">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5level %magenta(%-4r) --- [%15t] %cyan(%-40c) :%blue(%replace( [%marker]){' \[\]',''}) %m%n%ex{full}</pattern>
        </encoder>
    </appender>
    <appender name="ConsoleINFO"
              class="ch.qos.logback.core.ConsoleAppender"
              withJansi="false">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %green(%5level) %magenta(%-4r) --- [%15t] %cyan(%-40c) :%blue(%replace( [%marker]){' \[\]',''}) %m%n%ex{full}</pattern>
        </encoder>
    </appender>
    <appender name="ConsoleERROR"
              class="ch.qos.logback.core.ConsoleAppender"
              withJansi="false">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %red(%5level) %magenta(%-4r) --- [%15t] %cyan(%-40c) :%blue(%replace( [%marker]){' \[\]',''}) %m%n%ex{full}</pattern>
        </encoder>
    </appender>
    <appender name="ConsoleWARN"
              class="ch.qos.logback.core.ConsoleAppender"
              withJansi="false">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %yellow(%5level) %magenta(%-4r) --- [%15t] %cyan(%-40c) :%blue(%replace( [%marker]){' \[\]',''}) %m%n%ex{full}</pattern>
        </encoder>
    </appender>
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender"
              withJansi="false">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5level %magenta(%-4r) --- [%15t] %cyan(%-40c) :%blue(%replace( [%marker]){' \[\]',''}) %m%n%ex{full}</pattern>
        </encoder>
    </appender>

    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender"
              file="${filePath}/${fileName}.log"
              append="${append}">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${filePath}/%d{yyyy-MM}/${fileName}-%d{MM-dd-yyyy}-%i.log.gz</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
            <maxFileSize>${maxFileSize}</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5level %-4r --- [%15t] %-40c :%replace( [%marker]){' \[\]',''} %m%n%ex{full}</pattern>
        </encoder>
    </appender>

    <!--TRACE、DEBUG、INFO、WARN、ERROR、ALL、OFF-->
    <root level="ALL">
        <appender-ref ref="ConsoleTRACE"/>
        <appender-ref ref="ConsoleDEBUG"/>
        <appender-ref ref="ConsoleINFO"/>
        <appender-ref ref="ConsoleWARN"/>
        <appender-ref ref="ConsoleERROR"/>
        <!--<appender-ref ref="RollingFile"/>-->
    </root>

    <logger name="chapters.configuration" level="INFO" additivity="false">
        <appender-ref ref="ConsoleTRACE"/>
        <appender-ref ref="ConsoleDEBUG"/>
        <appender-ref ref="ConsoleINFO"/>
        <appender-ref ref="ConsoleWARN"/>
        <appender-ref ref="ConsoleERROR"/>
    </logger>
</configuration>